<div class="page-header">
  <h1>Fun Facts!</h1>
</div>
<nav class="navbar">
  Sort by:
  <span class="btn-group" >
    <button type="button" class="btn btn-primary" ng-click="btn = sortBy('title') ">title</button>
    <button type="button" class="btn btn-primary" ng-click="btn = 'upvotes'; reverse=!reverse">upvotes</button>
    <button type="button" class="btn btn-primary" ng-click="btn = 'id'; reverse=!reverse">id</button>
  </span>
  <div class="input-group col-md-4 pull-right">
    <input ng-model="searchText.title" type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </span>
  </div>
</nav>
<div ng-repeat="post in posts | orderBy: btn:reverse | filter:searchText"">
  <span class="glyphicon glyphicon-thumbs-up bg-success"
  ng-click="incrementUpvotes(post)"></span>
  <span class="badge">{{post.upvotes}}</span>
  <span class="glyphicon glyphicon-thumbs-down bg-danger"
  ng-click="decrementUpvotes(post)"></span>
  <span style="font-size:20px; margin-left:10px;">
    <a ng-show="post.link" href="{{post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
  </span>
  <span>posted by <strong>{{post.user.username}}</strong></span>
  <div>
    <button class="btn btn-sm btn-default" ng-click="showComments = !showComments" ng-show="{{post.comments.length}}">
    See comments here <span class="label label-default">{{post.comments.length}}</span></button>
    <button class="btn btn-sm btn-danger" ng-click="deletePost(post)">
    Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    <a class="btn btn-sm btn-info" href="#/posts/{{post.id}}">Read more<span class="glyphicon glyphicon-chevron-right"</span></a>
    <div class="panel panel-default" ng-show="showComments">
      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'" style="margin-left:1em;">
        <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by
        <span ng-show="{{comment.username.length}}">
          {{comment.username}}
        </span>
        <span ng-hide="{{comment.username.length}}">
          Anonimous
        </span>
        <span style="font-size:16px; margin-left:10px;">
          {{comment.body}}
        </span>
        </div>  <!-- to tu maja sie wyswietlac komentarze wysuwac sie -->
      </div>
    </div>
    <hr>
  </div>
  <form ng-submit="addPost()" name="addNewPost" style="margin-top:30px;">
    <h3>Add a new post</h3>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Title"
      ng-model="title" required></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Link"
      ng-model="link"></input>
    </div>
    <div class="form-group">
      <textarea type="text"
      rows="5"
      class="form-control"
      placeholder="Text"
      ng-model="text" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>