<div class="page-header">
	<h3>
	<a ng-show="post.link" href="{{post.link}}">
		{{post.title}}
	</a>
	<span ng-hide="post.link">
		{{post.title}}
	</span>
	</h3>
	<p> {{post.text}} </p>
</div>
<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
	<span class="glyphicon glyphicon-thumbs-up"
	ng-click="incrementUpvotes(comment)"></span>
	{{comment.upvotes}} 
	<span class="glyphicon glyphicon-thumbs-down"
	ng-click="decrementUpvotes(comment)"></span>
	- by
	<span ng-show="{{comment.username.length}}">
		 {{comment.username}}
	</span>
	<span ng-hide="{{comment.username.length}}">
		Anonimous
	</span>
	<span style="font-size:20px; margin-left:10px;">
		{{comment.body}}
	</span>
	<button class="btn btn-xs btn-danger" type="button"  ng-click="deleteComment(comment)"> Delete
    </button>
</div>
<form ng-submit="addComment()"
	style="margin-top:30px;">
	<h3>Add a new comment</h3>
	<div class="form-group">
		<input type="text"
		class="form-control"
		placeholder="Comment"
		ng-model="body" required></input>
	</div>
	<button type="submit" class="btn btn-primary">Post</button>
</form>